body {
    background-color: #eee;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../imgs/background4.jpeg') no-repeat;
    background-size: cover;
}



h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
}


#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { display: none;}
.gameplay-column-right {
    padding-top: 100px;
    text-align: left;
    margin-top: 20px;
    min-height: 550px;
}

.gameplay-column-left {
    padding-top: 100px;
    text-align: center;
    margin-top: 20px;
    min-height: 550px;
}